<script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/turna_assets@{{ .Site.Params.cdnVersion }}/js/xsl.sh/main.js"></script>
{{/*  <script type="text/javascript" src="/js/main.js"></script>  */}}


<!-- Global site tag (gtag.js) - Google Analytics -->
{{- if .Site.Params.ga.ID -}}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.ga.ID }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ .Site.Params.ga.ID }}');
</script>
{{end}}